In [25]:
import pandas as pd
import numpy as np

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sumanthvrao/daily-climate-time-series-data")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'daily-climate-time-series-data' dataset.
Path to dataset files: /kaggle/input/daily-climate-time-series-data

In [4]:
df = pd.read_csv(path + "/DailyDelhiClimateTest.csv")

In [5]:
df.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333

In [6]:
df.info(

)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          114 non-null    object
 1   meantemp      114 non-null    float64
 2   humidity      114 non-null    float64
 3   wind_speed    114 non-null    float64
 4   meanpressure  114 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.6+ KB

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          114 non-null    datetime64[ns]
 1   meantemp      114 non-null    float64
 2   humidity      114 non-null    float64
 3   wind_speed    114 non-null    float64
 4   meanpressure  114 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 4.6 KB

In [9]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [23]:
df['mont_name'] = df['date'].dt.month_name()
df['day_name'] = df['date'].dt.day_name()
df['week_day_name'] = df['date'].dt.day_of_week

In [11]:
df['week'] = df['date'].dt.weekday

In [27]:
df['day_is_weekend'] = np.where(df['week_day_name'].isin(['Saturday','Sunday']),1,0)

In [33]:
df.loc[df['day_name'].isin(['Saturday','Sunday'])]['day_is_weekend'].value_counts()

day_is_weekend
0    33
Name: count, dtype: int64

In [29]:
df.head()

,date,meantemp,humidity,wind_speed,meanpressure,year,month,day,week,mont_name,day_name,week_day_name,day_is_weekend
0,2017-01-01,15.913043,85.869565,2.743478,59.000000,2017,1,1,6,January,Sunday,6,0
1,2017-01-02,18.500000,77.222222,2.894444,1018.277778,2017,1,2,0,January,Monday,0,0
2,2017-01-03,17.111111,81.888889,4.016667,1018.333333,2017,1,3,1,January,Tuesday,1,0
3,2017-01-04,18.700000,70.050000,4.545000,1015.700000,2017,1,4,2,January,Wednesday,2,0
4,2017-01-05,18.388889,74.944444,3.300000,1014.333333,2017,1,5,3,January,Thursday,3,0

In [13]:
df['humidity'].corr(df['wind_speed'])

np.float64(-0.34050656906478255)

In [14]:
df['meantemp'].corr(df['meanpressure'])

np.float64(0.030681922801990724)

In [41]:
df['days_since'] = (pd.Timestamp.now() - df['date']).dt.days

In [46]:
df.head()

,date,meantemp,humidity,wind_speed,meanpressure,year,month,day,week,mont_name,day_name,week_day_name,day_is_weekend,since_today,days_since,since_day
0,2017-01-01,15.913043,85.869565,2.743478,59.000000,2017,1,1,6,January,Sunday,6,0,3341 days 06:27:40.103802,3341,3341
1,2017-01-02,18.500000,77.222222,2.894444,1018.277778,2017,1,2,0,January,Monday,0,0,3340 days 06:27:40.103802,3340,3340
2,2017-01-03,17.111111,81.888889,4.016667,1018.333333,2017,1,3,1,January,Tuesday,1,0,3339 days 06:27:40.103802,3339,3339
3,2017-01-04,18.700000,70.050000,4.545000,1015.700000,2017,1,4,2,January,Wednesday,2,0,3338 days 06:27:40.103802,3338,3338
4,2017-01-05,18.388889,74.944444,3.300000,1014.333333,2017,1,5,3,January,Thursday,3,0,3337 days 06:27:40.103802,3337,3337

In [54]:
df[df['date'].dt.month == 1].head()

,date,meantemp,humidity,wind_speed,meanpressure,year,month,day,week,mont_name,day_name,week_day_name,day_is_weekend,since_today,days_since,since_day
0,2017-01-01,15.913043,85.869565,2.743478,59.000000,2017,1,1,6,January,Sunday,6,0,3341 days 06:27:40.103802,3341,3341
1,2017-01-02,18.500000,77.222222,2.894444,1018.277778,2017,1,2,0,January,Monday,0,0,3340 days 06:27:40.103802,3340,3340
2,2017-01-03,17.111111,81.888889,4.016667,1018.333333,2017,1,3,1,January,Tuesday,1,0,3339 days 06:27:40.103802,3339,3339
3,2017-01-04,18.700000,70.050000,4.545000,1015.700000,2017,1,4,2,January,Wednesday,2,0,3338 days 06:27:40.103802,3338,3338
4,2017-01-05,18.388889,74.944444,3.300000,1014.333333,2017,1,5,3,January,Thursday,3,0,3337 days 06:27:40.103802,3337,3337

In [55]:
df.set_index('date',inplace=True)

In [56]:
df.head()

,meantemp,humidity,wind_speed,meanpressure,year,month,day,week,mont_name,day_name,week_day_name,day_is_weekend,since_today,days_since,since_day
date,,,,,,,,,,,,,,,
2017-01-01,15.913043,85.869565,2.743478,59.000000,2017,1,1,6,January,Sunday,6,0,3341 days 06:27:40.103802,3341,3341
2017-01-02,18.500000,77.222222,2.894444,1018.277778,2017,1,2,0,January,Monday,0,0,3340 days 06:27:40.103802,3340,3340
2017-01-03,17.111111,81.888889,4.016667,1018.333333,2017,1,3,1,January,Tuesday,1,0,3339 days 06:27:40.103802,3339,3339
2017-01-04,18.700000,70.050000,4.545000,1015.700000,2017,1,4,2,January,Wednesday,2,0,3338 days 06:27:40.103802,3338,3338
2017-01-05,18.388889,74.944444,3.300000,1014.333333,2017,1,5,3,January,Thursday,3,0,3337 days 06:27:40.103802,3337,3337

In [60]:
print(np.datetime64('now'))

2026-02-24T06:40:53

##iss niche ke cells main jo code hai wo date time data ke liye usefull hia.

sabse pehle jo `datetime` column hota hai wo ek object hota hai uss ko pehle **pandas** ke `datetime` main convert karna padta.

In [ ]:
df['date'] = pd.to_datetime(df['date'])

iss main jo function's hia `dt` ke bad uss se hi pata cahlta hai ki wo function kaha use karna hia.
*for ex*   jo `dt.year` hai uss ka use year ko nikalne ke liye hota hia.`dt.month` ka use month ko nikalne ke liye hota hia.and so on.

In [ ]:
df['year']        = df['date'].dt.year
df['month']       = df['date'].dt.month
df['day']         = df['date'].dt.day
df['hour']        = df['date'].dt.hour
df['day_name']    = df['date'].dt.day_name()    # 'Monday'
df['month_name']  = df['date'].dt.month_name()  # 'January'
df['is_weekend']  = df['date'].dt.dayofweek.isin([5,6]).astype(int)
df['quarter']     = df['date'].dt.quarter

iss code ka use `date` ke difference nikalne ke liye hota hia.

In [ ]:
df['days_since'] = (pd.Timestamp.now() - df['date']).dt.days

iss niche ke cell man jo code hai uss ka use **date wise comparison ke liye hota hia**.

In [ ]:
# Ek specific month
df[df['date'].dt.month == 1]

# Date range
df[(df['date'] >= '2024-01-01') & (df['date'] <= '2024-12-31')]

ye jo code hia iss ka use `month` aur  `day` ke wise grouopby karne ke liye hota hai. iss code main **sales** ko month wise groupby kiya hia.aur **day** wise bhi kiya gya hia.

In [ ]:
# Month wise sales
df.groupby(df['date'].dt.month)['sales'].sum()

# Day wise
df.groupby(df['date'].dt.day_name())['sales'].mean()

iss code ka use common format specify karne ke liye dekhaya gya hia. **hum khud `datetime` ko format kar sakte hia jaise chahiye wise**.

In [ ]:
# Format specify karo agar auto detect na ho
pd.to_datetime(df['date'], format='%d-%m-%Y')  # 25-01-2024
pd.to_datetime(df['date'], format='%Y/%m/%d')  # 2024/01/25

<span style="color:pink;"> Pro Tip  DateTime ko convert karne ke baad index set karo time series data ke liye:</span>

In [ ]:
df.set_index('date', inplace=True)
df['2024']        # sirf 2024 ka data
df['2024-01']     # sirf January 2024

** Iske Faayde Kya Hain?**
***Slicing*** Easy Ho Jati Hai: Aap direct dates se data filter kar sakte hain: df`['2023-01']` (sirf January ka data nikalne ke liye).

**Resampling:** Data ko daily se monthly ya yearly mein convert karna df.resample('M').mean() jitna aasaan ho jata hai.

**Missing Data Handling:** Time gaps ko pehchanna aur fill karna easy hota hai.
Plotting: Matplotlib aur Seaborn automatically X-axis par dates ko format kar dete hain.